<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>568764222048-vrh0l842hiupnas9c5lkrp43p021cgrp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.568764222048-vrh0l842hiupnas9c5lkrp43p021cgrp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>568764222048-2bgo7m1o8cevskvh2h2gdd5peia98j2f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDxl3-zpXwOwPOc4rn2X0o2GlRXKPGG_vc</string>
	<key>GCM_SENDER_ID</key>
	<string>568764222048</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ncsApp</string>
	<key>PROJECT_ID</key>
	<string>ncs-app-f7d0e</string>
	<key>STORAGE_BUCKET</key>
	<string>ncs-app-f7d0e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:568764222048:ios:3429a3a6145e30feded105</string>
</dict>
</plist>